@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323232;
}
.ant-btn-primary {
  background-color: #0958d9;
}
@layer base {
  h1 {
    @apply text-xl;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply text-lg;
    @apply font-semibold;
  }
  h4 {
    @apply text-base;
    @apply font-semibold;
  }
  p,
  div {
    font-family: "Poppins", sans-serif;
    @apply text-sm;
  }
}
